{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputLogin">Login</label>
    <input type="text" value="{{ last_username }}" name="login" id="inputLogin" class="form-control" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>

    <div class="g-signin2" data-onsuccess="onSignIn"></div>

</form>
{% endblock %}

{% block javascripts %}
  {{ parent() }}

    <script>
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();

            console.log(profile);
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

             $.ajax({
                url: Routing.generate('google_profile'),
                method: 'POST',
                data: {
                    profile_name: profile.getName(),
                    profile_email: profile.getEmail(),
                },
                datatype: 'json',
                success: function (response) {
                    if (response.status === 'success') {
                        console.log(response);
                        document.location.href = response.redirectUrl;
                    } else {
                        console.log(response);
                    }
                }
            });
        };

    </script>
{% endblock %}
