{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h1 class="text-center">Register</h1>
                    {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.login) }}
                    {{ form_row(registrationForm.name) }}
                    {{ form_row(registrationForm.surname) }}
                    {{ form_row(registrationForm.gender) }}
                    {{ form_row(registrationForm.dateOfBirth) }}

                    {{ form_row(registrationForm.category.profession) }}

                    {{ form_row(registrationForm.plainPassword) }}
                    {{ form_row(registrationForm.roles) }}

                    <button class="btn btn-primary btn-block">Register</button>
                    {{ form_end(registrationForm) }}
                </div>

            </div>

        </div>

    </div>



{% endblock %}
