<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://apis.google.com/js/client:platform.js?onload=renderButton" async defer></script>
        <meta name="google-signin-client_id" content="617518266306-panbd0kqmrsirirsiiltein7ctfkb6oi.apps.googleusercontent.com">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <nav class="nav nav-masthead justify-content-center">
            {% if app.user %}
                <a class="nav-link active" href="#">{{ app.user.login }}</a>
                <a class="nav-link active" onclick="signOut();" href="{{ path('app_logout') }}">Sign out</a>
            {% else %}
                <a class="nav-link" href="{{ path('app_login') }}">Log in</a>
                <a class="nav-link" href="{{ path('app_register') }}">Sign up</a>
            {% endif %}
            </nav>
            <div style="display: none" class="g-signin2" data-onsuccess="onSignIn"></div>
        </header>

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}

            <script>
                function signOut() {
                    var auth2 = gapi.auth2.getAuthInstance();
                    auth2.signOut().then(function () {
                        console.log('User signed out.')
                    });
                }
            </script>

            <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

        {% endblock %}
    </body>
</html>
