{% extends 'base.html.twig' %}

{% block body %}

    <a href="{{ path('create_user') }}">Create new user</a>

{#    <h3>Category</h3>
    <div class="category">
        {{ form_row(form.category.prosession) }}
    </div>#}

{% for user in users %}

        <div class="card-body">
            <div>Login: {{ user.login }}</div>

            <div>Name: {{ user.name }}</div>
            <div>Surname: {{ user.surname }}</div>
            <div>Gender: {{ user.gender }}</div>
            <div>date of birth: {{ user.dateOfBirth|date('Y-m-d H:i:s') }}</div>

            <div>
                <a href="{{ path('single_user', {'id':user.id}) }}">View</a>
            </div>

        </div>

{% endfor %}

{% endblock %}




