{% extends 'base.html.twig' %}

{% block body %}

    <div>User - {{ user.name }}</div>
    <div>Surname - {{ user.surname }}</div>
    <div>Gender - {{ user.gender }}</div>
    <div>Date of birth - {{ user.dateOfBirth|date('Y-m-d H:i:s') }}</div>

    <div class="text-white bg-white"><a href="{{ path('update_user', {'user': user.id}) }}">Edit</a></div>
    <div class="text-white bg-white"><a href="{{ path('delete_user', {'user': user.id}) }}">Delete</a></div>

{% endblock %}