{% extends 'base.html.twig' %}

{% block body %}

    <br>
    <br>
    <br>
    <div class="promo" style="width: 800px; margin: 0 auto;">
        <h2>User data</h2>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            {{ form_start(form) }}
            <div class="form-group">
                <label for="textarea">{{ form_label(form.login) }}</label><br>
                {{ form_widget(form.login) }}

            </div>
            <div class="form-group">
                <label for="textarea">{{ form_label(form.name) }}</label><br>
                {{ form_widget(form.name) }}

            </div>
            <div class="form-group">
                <label for="textarea">{{ form_label(form.surname) }}</label><br>
                {{ form_widget(form.surname) }}

            </div>
            <div class="form-group">
                <label for="textarea">{{ form_label(form.gender) }}</label><br>
                {{ form_widget(form.gender) }}

            </div>

            <div class="form-group">
                <label for="textarea">{{ form_label(form.dateOfBirth) }}</label><br>
                {{ form_widget(form.dateOfBirth) }}

            </div>
            <button type="submit">Save</button>
            {{ form_end(form) }}


        </div>

    </div>

{% endblock %}